<div class="Menu">
    <header class="header">
      <div class="logo">Digital<span>Pilllulier</span></div>
      <nav class="navbar">
        <li>
        <button routerLink="/accueil" (click)="accueil()">Accueil</button>
        <button routerLink="/liste-medicament" (click)="listemedicament()">Liste Médicaments</button>
        <button routerLink="/rappel-medicament" (click)="rappelmedicament()">Rappel Médicaments</button>
        <button routerLink="/suivis-medicament" (click)="suivisMedicament()">Suivis</button>
      </li>
      </nav>
    </header>
  </div>
  <router-outlet></router-outlet>
